		<div class="col-md-3">
			<div class="list-group"> 
				<a class="list-group-item" href="/member/profile"><i class="glyphicon glyphicon-tasks"></i> 修改资料</a> 
				<a class="list-group-item" href="/member/password"><i class="glyphicon glyphicon-lock"></i> 修改密码</a> 
				<a class="list-group-item" href="/member/avatar"><i class="glyphicon glyphicon-user"></i> 编辑头像</a> 
				<a class="list-group-item" href="/member/binding"><i class="glyphicon glyphicon-transfer"></i> 绑定账号</a> 
				<a class="list-group-item" href="/member/score"><i class="glyphicon glyphicon-piggy-bank"></i> 积分金币</a> 
				<a class="list-group-item" href="/member/favorite"><i class="glyphicon glyphicon-star"></i> 我的收藏</a> 
				<a class="list-group-item" href="/member/comment"><i class="glyphicon glyphicon-comment"></i> 我的评论</a> 
				<a class="list-group-item" href="/member/plugin"><i class="glyphicon glyphicon-print"></i> 我的插件</a> 
				<a class="list-group-item" href="/member/theme"><i class="glyphicon glyphicon-send"></i> 我的模板</a> 
				<a class="list-group-item" href="/member/topic"><i class="glyphicon glyphicon-oil"></i> 我的话题</a> 
				<a class="list-group-item" href="/member/member"><i class="glyphicon glyphicon-list"></i> 我的订单</a> 
				<a class="list-group-item" href="/member/case"><i class="glyphicon glyphicon-folder-close"></i> 我的案例</a> 
			</div>
		</div>